  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
  {% load l10n %}

<!-- {{ value|localize }} -->



<!-- <div id="page"> -->




 

  <!-- BEGIN Main Container -->
  <div class="main-container col1-layout wow bounceInUp animated">
    <div class="main">
      <div class="col-main"> 
        <!-- Endif Next Previous Product -->
        <div class="product-view wow bounceInUp animated" itemscope="" itemtype="http://schema.org/Product" itemid="#product_base">
          <div id="messages_product_view"></div>
          <!--product-next-prev-->
          <div class="product-essential container">
            <div class="row">
              <form action="#" method="post" id="product_addtocart_form">
                <!--End For version 1, 2, 6 --> 
                <!-- For version 3 -->
                <div class="product-img-box col-lg-5 col-sm-5 col-xs-12">
                  <div class="new-label new-top-left">Hot</div>
                  <div class="sale-label sale-top-left">-15%</div>
                  <div class="product-image">
                    <div class="product-full"> <img id="product-zoom1" src="{{ detail.car_main_image.url }}" data-zoom-image="{{ detail.car_main_image.url }}" alt="product-image"/> </div>
                    <div class="more-views">
                      <div class="slider-items-products">
                        <div id="gallery_02" class="product-flexslider hidden-buttons product-img-thumb">
                          <div class="slider-items slider-width-col4 block-content">
                            <div class="more-views-items"> <a href="#" data-image="{{ detail.car_main_image.url }}" data-zoom-image="{{ detail.car_main_image.url }}"> <img id="product-zoom0"  src="{{ detail.car_main_image.url }}" alt="product-image"/> </a></div>
                            <div class="more-views-items"> <a href="#" data-image="{{ detail.car_sub_image1.url }}" data-zoom-image="{{ detail.car_sub_image1.url }}"> <img id="product-zoom0"  src="{{ detail.car_sub_image1.url }}" alt="product-image"/> </a></div>
                            <div class="more-views-items"> <a href="#" data-image="{{ detail.car_sub_image2.url }}" data-zoom-image="{{ detail.car_sub_image2.url }}"> <img id="product-zoom1"  src="{{ detail.car_sub_image2.url }}" alt="product-image"/> </a></div>
                            <div class="more-views-items"> <a href="#" data-image="{{ detail.car_sub_image3.url }}" data-zoom-image="{{ detail.car_sub_image3.url }}"> <img id="product-zoom2"  src="{{ detail.car_sub_image3.url }}" alt="product-image"/> </a></div>
                            <div class="more-views-items"> <a href="#" data-image="{{ detail.car_sub_image4.url }}" data-zoom-image="{{ detail.car_sub_image4.url }}"> <img id="product-zoom3"  src="{{ detail.car_sub_image4.url }}" alt="product-image"/> </a> </div>
                            <div class="more-views-items"> <a href="#" data-image="{{ detail.car_sub_image5.url }}" data-zoom-image="{{ detail.car_sub_image5.url }}"> <img id="product-zoom4"  src="{{ detail.car_sub_image5.url }}" alt="product-image" /> </a></div>

                             <div class="more-views-items"> <a href="#" data-image="{{ detail.car_sub_image6.url }}" data-zoom-image="{{ detail.car_sub_image6.url }}"> <img id="product-zoom4"  src="{{ detail.car_sub_image6.url }}" alt="product-image" /> </a></div>

                              <div class="more-views-items"> <a href="#" data-image="{{ detail.car_sub_image7.url }}" data-zoom-image="{{ detail.car_sub_image7.url }}"> <img id="product-zoom4"  src="{{ detail.car_sub_image7.url }}" alt="product-image" /> </a></div>

                               <div class="more-views-items"> <a href="#" data-image="{{ detail.car_sub_image8.url }}" data-zoom-image="{{ detail.car_sub_image8.url }}"> <img id="product-zoom4"  src="{{ detail.car_sub_image8.url }}" alt="product-image" /> </a></div>

                                <div class="more-views-items"> <a href="#" data-image="{{ detail.car_sub_image9.url }}" data-zoom-image="{{ detail.car_sub_image9.url }}"> <img id="product-zoom4"  src="{{ detail.car_sub_image9.url }}" alt="product-image" /> </a></div>

                                 <div class="more-views-items"> <a href="#" data-image="{{ detail.car_sub_image10.url }}" data-zoom-image="{{ detail.car_sub_image10.url }}"> <img id="product-zoom4"  src="{{ detail.car_sub_image10.url }}" alt="product-image" /> </a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end: more-images --> 
                   {% for info in info %}
                  <div class="toll-free"><a onClick="ShowMe1();" style="color:black"><i class="fa fa-money"></i>BANK ACCOUNT: {{ info.bank_account_number }}</a></div>
                  <div class="request-call"><a href="tel: {{ info.phone_number1 }}" style="color:black"><i class="fa fa-phone"></i>CALL: {{ info.phone_number1 }}</a></div>
                  <div class="request-call"><a href="tel: {{ info.phone_number2 }}" style="color:black"><i class="fa fa-phone"></i>CALL: {{ info.phone_number2 }}</a></div>
                    {% endfor %}
                </div>
                <!--End For version 1,2,6--> 
                <!-- For version 3 -->
                <div class="product-shop col-lg- col-sm-7 col-xs-12">
                  <div class="brand">{{ detail.make }}</div>
                  <div class="product-name">
                    <h1 style="text-transform: uppercase;">{{ detail.car_name }}</h1>
                  </div>
            
                  <div class="price-block">
                    <div class="price-box">
                     
                      
                      <p class="special-price"> <span class="price-label">Special Price</span> <span id="product-price-48" class="price">TSH {{ detail.price }} </span> </p>


                    </div>
                  </div>
                 
                  <div class="spec-row" id="summarySpecs">
                  <h2>Specifications</h2>
                    <table width="100%">
                      <tbody>
                        <tr>
                          <td class="label-spec"> Mileage <span class="coln">:</span></td>
                          
                          <td class="value-spec"> {{ detail.mileage }} KM</td>

                        </tr>
                        <tr>
                          <td class="label-spec"> Engine Size. <span class="coln">:</span></td>
                          <td class="value-spec"> {{ detail.engine }} cc</td>
                        </tr>
                        <tr class="odd">
                          <td class="label-spec"> Transmission <span class="coln">:</span></td>
                          <td class="value-spec"> {{ detail.transmission }} </td>
                        </tr>
                        <tr class="odd">
                          <td class="label-spec"> Fuel Type <span class="coln">:</span></td>
                          <td class="value-spec"> {{ detail.fueltype }} </td>
                        </tr>
                    
                         <tr>
                          <td class="label-spec"> Year <span class="coln">:</span></td>
                          <td class="value-spec"> {{ detail.year }} </td>
                        </tr>
                         <tr>
                          <td class="label-spec"> Seats <span class="coln">:</span></td>
                          <td class="value-spec"> {{ detail.seats }} </td>
                        </tr>
                          <tr class="odd">
                          <td class="label-spec"> Drive <span class="coln">:</span></td>
                          <td class="value-spec"> {{ detail.drive }} </td>
                        </tr>
                        
                         <tr class="odd">
                          <td class="label-spec"> Steering <span class="coln">:</span></td>
                          <td class="value-spec"> {{ detail.steering }} </td>
                        </tr>
                
                      </tbody>
                    </table>
                  </div>

                  <div class="spec-row" id="summarySpecs">
                  <h2>Accessories</h2>
                    <table width="100%">
                      <tbody>
                        
                      
                         {% if detail.power_window == "YES" %}
                         <tr>
                          <td class="label-spec"> Power Windows <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr>
                          <td class="label-spec"> Power Windows <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}

                         {% if detail.airbag == "YES" %}
                         <tr>
                          <td class="label-spec"> Airbag <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr>
                          <td class="label-spec"> Airbag <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                      

                         {% if detail.navigation == "YES" %}
                         <tr class="odd">
                          <td class="label-spec"> Navigation <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr class="odd">
                          <td class="label-spec"> Navigation <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                      

                        {% if detail.keyless_entry == "YES" %}
                         <tr class="odd">
                          <td class="label-spec"> Keyless Entry <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr class="odd">
                          <td class="label-spec"> Keyless Entry <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                      
                       {% if detail.fog_light == "YES" %}
                         <tr>
                          <td class="label-spec"> Fog Lamps <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr>
                          <td class="label-spec"> Fog Lamps <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                      
                         <tr>
                          <td class="label-spec"> Color <span class="coln">:</span></td>
                          <td class="value-spec">{{ detail.color }}</td>
                        </tr>
                        
                        
                         <tr class="odd">
                          <td class="label-spec"> Body Type <span class="coln">:</span></td>
                          <td class="value-spec">{{ detail.body_type }}</td>
                        </tr>
                       
                         {% if detail.cd == "YES" %}
                         <tr class="odd">
                          <td class="label-spec"> CD <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr class="odd">
                          <td class="label-spec"> CD <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}

                        {% if detail.leather_seat == "YES" %}
                         <tr>
                          <td class="label-spec"> Leather Seat <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr>
                          <td class="label-spec"> Leather Seat <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}


                        {% if detail.ac == "YES" %}
                         <tr>
                          <td class="label-spec"> AC <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr>
                          <td class="label-spec"> AC <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                       

                        {% if detail.rear_spoiler == "YES" %}
                         <tr class="odd">
                          <td class="label-spec"> Rear Spoiler <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr class="odd">
                          <td class="label-spec"> Rear Spoiler <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                    

                        {% if detail.back_camera == "YES" %}
                         <tr class="odd">
                          <td class="label-spec"> Back Camera <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr class="odd">
                          <td class="label-spec"> Back Camera <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                     
                        {% if detail.alloy_wheels == "YES" %}
                         <tr>
                          <td class="label-spec"> Alloy Wheels <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr>
                          <td class="label-spec"> Alloy Wheels <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                        {% if detail.spare_tyre == "YES" %}
                        <tr>
                          <td class="label-spec"> Spare Tyre <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr>
                          <td class="label-spec"> Spare Tyre <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                        {% if detail.sunroof == "YES" %}
                         <tr class="odd">
                          <td class="label-spec"> Sunroof <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr class="odd">
                          <td class="label-spec"> Sunroof <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                        {% if detail.radio == "YES" %}
                         <tr class="odd">
                          <td class="label-spec"> Radio <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr>
                          <td class="label-spec"> Radio <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                        {% if detail.tv == "YES" %}
                         <tr>
                          <td class="label-spec"> TV <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr>
                          <td class="label-spec"> TV <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                        {% if detail.AntilockBrakingSystem == "YES" %}
                         <tr>
                          <td class="label-spec"> ABS <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-check-circle" style="color: #008000"></i> </td>
                        </tr>
                        {% else %}
                           <tr class="odd">
                          <td class="label-spec"> ABS <span class="coln">:</span></td>
                          <td class="value-spec"> <i class="fa fa-times-circle" style="color: red"></i> </td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                   {% for info in info %}
                  <div class="spec-row" id="summarySpecs">
                  <h2>PAYMENT AND CONTACT INFO</h2>
                    <table width="100%">
                      <tbody>
                        <tr>
                          <td class="label-spec" style="font-weight: bold;"> Bank Account <span class="coln">:</span></td>
                          <td class="value-spec" style="font-weight: bold;"> {{ info.bank_account_number }}</td>
                        </tr>
                        <tr>
                          <td class="label-spec" style="font-weight: bold;"> Account Name <span class="coln">:</span></td>
                          <td class="value-spec" style="font-weight: bold;"> {{ info.bank_account_name }} </td>
                        </tr>
                        <tr class="odd">
                          <td class="label-spec" style="font-weight: bold;"> Call <span class="coln">:</span></td>
                          <td class="value-spec" style="font-weight: bold;">{{ info.phone_number1 }} </td>
                        </tr>
                          <tr class="odd">
                          <td class="label-spec" style="font-weight: bold;"> Call <span class="coln">:</span></td>
                          <td class="value-spec" style="font-weight: bold;">{{ info.phone_number2 }} </td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                   {% endfor %}
           
           
              
                </div>
                <!--product-shop--> 
                <!--Detail page static block for version 3-->
              </form>
            </div>
          </div>
          <!--product-essential-->
          <div class="product-collateral container">
            <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
              <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Vehicle Overview </a> </li>
              <li> <a href="#product_tabs_custom1" data-toggle="tab">How To Pay</a> </li>
              
            </ul>
            <div id="productTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="product_tabs_description">
                <div class="std">
                  <p>{{ detail.description }}</p>
                  
                </div>
              </div>
 
            
       
            
            
              <div class="tab-pane fade" id="product_tabs_custom1">
                {% for info in info %}
                <div class="product-tabs-content-inner clearfix">
                  <p>After choosing your favorite car and reviewing its specifications, Pay by using this Bank Account Number<a style="font-weight: bolder; font-size: 20px"> {{ info.bank_account_number }}.</a></p>
                  
                </div>
                {% endfor %}
              </div>
 
            
            
          </div>
          
          </div>
  

          
         

           
                  </div>
                </div>
              
            </div>
            <!-- end related product --> 
            
         <!-- </div> -->
          <!-- end related product --> 
        </div>
        <!--box-additional--> 
        <!--product-view--> 
      <!-- </div> -->
    <!-- </div> -->
    <!--col-main--> 
 <!--  </div> -->
  <!--main-container--> 
 {% endblock %}
<!--col1-layout--> 

<!-- For version 1,2,3,4,6 -->
 